# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Flask-Login
psycopg2
Faker-4.0.3

# ----------------------
# Production Server
# ----------------------
gunicorn
