{% extends "sidebar.html" %} {% block div %}
<div class="register-form center-block less ml-5">
  {% if 'username' in session %}
  <div class="page_header">
    <h2 class="dash_header darken">How Compatible are You?</h2>
  </div>
</div>
{% include 'flash_messages.html' %}
  <form
    class="card-user-reg mt-4 mb-0"
    action="{{ url_for('aboutFriend') }}"
    method="POST"
  >
    {{ form.csrf_token }}
    <div class="row">
            {{ form.username.label(class='control-label mr-2') }}
            <div>
              {{ form.username(class='mydropdown') }}
            </div>

            <div>
              <input type="submit" value="Go" class="btn ok-sml" />
            </div>
          </div>

        </form>
    </div>
{% endif %} {% endblock %}
