{% extends "sidebar.html" %} {% block div %}
    <div class = "page_header">
        <h2 class = "dash_header">Dashboard</h2>
        {% include 'flash_messages.html' %}
    </div>

    {% if type == "Regular"%}
        <h4 class = "grp_header">My Groups 
            <a href = "{{ url_for('recommend', username=session.get('username')) }}" class=" btn recom">Recommend Matches</a>
        </h4>
    {% endif %} 

    {% if type == "Regular" and not groups %}
        <div class = "alert alert-primary">
            You are not a member of any Groups
        </div>
    {% endif %}

    {% if type == "Organizer" %}
        <h4 class = "grp_header">My Sets</h4>
    {% endif %} 

    {% if type == "Organizer" and not groups %}
        <div class = "alert alert-primary">
            You Currently Have No Sets
        </div>
    {% endif %} 
    
    <div class = "row">
        {% if type == "Organizer" and groups %}
            {% for group in groups %}
                <div class="col-4 grid-spacing">
                    <a href="{{ url_for('members', sid=group['sid']) }}">
                    <button class = "tile">
                        <div class = "grp_title py-3"> 
                            {{ group['set_name'] }} <span class="code ml-4">{{ group['code'] }}</span>
                        </div>
                    </button>
                    </a>
                </div>
            {% endfor %}
        {% endif %} 

        <div class = "col-4">
            {% if type == "Organizer" %}
            <a href="{{ url_for('createSet', username=session.get('username')) }}">
            <button class = "tile add">
                <img src="../static/images/plus.png" width="50" height="50" class = "img-add" />
            </button>
            </a>
            {% endif %}
        </div>
    </div>

    <div class = "row">
        {% if type == "Regular" and groups %}
            {% for item in groups %}
                <div class="col-4">
                    <button class = "tile">
                        <div class = "grp_title py-3"> 
                            {{ item['set_name'] }}
                        </div>
                    </button>
                </div>
            {% endfor %}
        {% endif %} 

        <div class = "col-4">
            {% if type == "Regular" %}
            <a href="{{ url_for('joinASet', username=session.get('username')) }}">
            <button class = "tile add">
                <img src="../static/images/plus.png" width="50" height="50" class = "img-add" />
            </button>
            </a>
            {% endif %}
        </div>
    </div>


    {% if type == "Regular" %}
       <h4 class = "grp_header2">Current Friends </h4>
        <div class = "alert alert-primary">
            You Currently Have No Friends
        </div>
        <button class=" btn recom2">All</button>
    {% endif %}  
    
    <!-- <div class = "row"> 
        <div class="col-4">
            <button class = "tile">
                <div class = "grp_title"> 
                    <p class = "tl"> </p> 
                </div>
            </button>
        </div>
        <div class = "col-4">
            <button class = "tile">
                <div class = "grp_title"> 
                    <p class = "tl"></p> 
                </div>
            </button>
        </div>
        <div class = "col-4">
            <button class = "tile">
                <div class = "grp_title"> 
                    <p class = "tl"> </p> 
                </div>
            </button>
        </div> -->
    </div>
{% endblock %}