{% extends "sidebar.html" %} {% block div %}
<div>
  <div class="page_header">
    <h2 class="dash_header">{{ fullSet['set_name'] }}</h2>
    <h3 class="dash_header">{{ fullSet['purpose'] }}</h3>
    <h4 class="dash_header2">{{grpAmt}} Groups of {{numPersons}}: <button class=" btn recom">Disband Groups</button></h2>
    <h4 class = "grp_header ml-3">
            <a href = "{{ url_for('groupMembers', sid = fullSet['sid']) }}" class=" btn recom">Show Members</a>
    </h4>
  </div>

  <div class="row">
    {% for i in range(1, grpAmt + 1) %}
    <div class="col-4 mb-4">
      <button class="member-tile" data-toggle="modal" data-target="#formgroupmodal" id="getMembers">
        <div class="py-3">
          Group {{i}}
        </div>
      </button>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
