{% extends "sidebar.html" %} {% block div %}
<div class="page_header">
  <h2 class="dash_header darken">Recommended Matches</h2>
  <h3 class="dash_header2">Top 9 Matches</h3>
  {% include 'flash_messages.html' %}

  <span>
    <img src="/static/images/multimedia.png" class="reload grow" />
  </span>
</div>

<div class="dropdown">
  <form method="post" action="/recommend/{{session.get('username')}}">
    <div class="row postn">
      <div class="col-6">
        {{ form.crit(class='btn mydropdown mb-1') }}
      </div>

      <div class="col-6 pl-0 pr-0">
        <input type="submit" value="Go" class="btn ok-sml" />
      </div>
    </div>
  </form>
</div>

<!-- RECOMMEND TILE LAYOUT -->
<div class="row pl-5 pr-4">
  {% for match in matches %}
  <div class="col-4">
    <button
      class="rmndTile"
      data-toggle="modal"
      data-target="#formgroupmodal"
      data-id="{{ match['username'] }}"
      id="getuser"
    >
      <span class="delete_" aria-hidden="true">&times;</span>

      <span class="percentage"
        >{{(match['similarity_percentage'])|round|int}} %</span
      >
      <div class="grp_title py-3">
        {{match['other_user']}}
      </div>
    </button>
  </div>
  {% endfor %}
</div>

<div
  class="modal fade"
  id="formgroupmodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="PopUpTitle"></h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          onclick="randomizeData()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" id="formgroupmodalClick">
          <div class="col">
            Here
            <input type="hidden" id="review" name="review" />
          </div>
        </div>
        <div class="hr-bar mt-1"></div>
        <canvas id="myChart" width="450" height="250"></canvas>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on("click", "#getuser", function () {
    var id = $(this).attr("data-id"); //data-id of delete button
    console.log("KK");
    $(".modal-body #review").val(id); //set to modal field
  });
  var ctx = document.getElementById("myChart");

  //Global
  Chart.defaults.scale.gridLines.drawOnChartArea = false;

  let firstValues = [90, 75, 80, 95];
  let firstlabels = ["Ethnicity", "Age", "Leadership", "Personality"];
  let seclabels = [
    "Ethnicity",
    "Age",
    "Leadership",
    "Personality",
    "Education",
    "Field",
    "Gender",
    "Height",
    "Hobbies",
  ];
  initial = {
    labels: firstlabels,
    datasets: [
      {
        label: "Scores",
        data: firstValues,
        backgroundColor: ["#4E77D2", "#7EA2F3", "#ABC5FE", "#D8E4FF"],
        borderColor: ["#4E77D2", "#7EA2F3", "#ABC5FE", "#D8E4FF"],
        borderWidth: 1,
        maxBarThickness: 16,
      },
    ],
  };

  var myChart = new Chart(ctx, {
    type: "horizontalBar",
    data: initial,
    options: {
      responsive: false,
      maintainAspectRatio: this.maintainAspectRatio,
      title: {
        display: true,
        text: "Stats",
        fontSize: 18,
      },
      legend: {
        display: false,
        labels: {
          // This more specific font property overrides the global property
          fontColor: "rgba(0, 0, 0, 0.8)",
          fontFamily: "Monserrat",
          fontsize: 16,
          fontColor: "red",
        },
      },
      tooltips: {
        enabled: false,
      },
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
        xAxes: [
          {
            stacked: true,
            scaleLabel: {
              labelString: "Compatibility",
              display: true,
              fontSize: 16,
            },
          },
        ],
      },
    },
  });

  function randomizeData() {
    let newfirstValues = firstValues.map((x) => Math.floor(Math.random() * 80));
    let newfirstlabels = getRandom(seclabels, 4);
    initial.datasets[0].data = newfirstValues;
    initial.labels = newfirstlabels;
    myChart.update();
  }

  function getRandom(arr, size) {
    var copy = arr.slice(0),
      rand = [];
    for (var i = 0; i < size && i < copy.length; i++) {
      var index = Math.floor(Math.random() * copy.length);
      rand.push(copy.splice(index, 1)[0]);
    }
    return rand;
  }
</script>

{% endblock %}
