{% extends "base.html" %} {% block mains %}

  <div class="slide-info mt-0">
      <div class = "mb-5 ml-5 py-5 text-center">
        <h1 class = "banner-head-home text-white">Testimonies</h1>
     
            <img
            class="mt-3 opct"
            src="/static/images/Footer Logo.png"
            alt="Team Pic"
            height="88"
            width="88"
            />

          </div> 
      </div>
  </div>


  <div>
        <div class = "row w-75 pr-4 text-left pb-2 ml-10 mb-5">
          <div class = "col-3">
            <img
                  class="d-block radius-2 mt-5"
                  src="/static/images/no_profilepic.png"
                  alt="Team Pic"
                  height="268"
                  width="206"
            />
  
          </div>
      
          <div class = "col-9 pt-4">
            <div class = "panel2-sub mb-3">
                Someone's Name
            </div>

            <p class = "lh-2">
                Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                nostrud exercitation ullamco laboris nisi. Elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                veniam, quis nostrud exercitation ullamco laboris nisi.
            </p>
          </div> 
        </div>
    </div>




<div class = "gray-banner">
     
    <div>
        <div class = "row w-75 pr-4 text-left pb-2 ml-10 mb-5">
               
          <div class = "col-9 pt-4">
            <div class = "panel2-sub mb-3">
                Someone's Name
            </div>

            <p class = "lh-2">
                Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                nostrud exercitation ullamco laboris nisi. Elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                veniam, quis nostrud exercitation ullamco laboris nisi.
            </p>
          </div> 


          <div class = "col-3">
            <img
                  class="d-block radius-2 mt-5"
                  src="/static/images/no_profilepic.png"
                  alt="Team Pic"
                  height="268"
                  width="206"
            />
  
          </div>

          
        </div>
    </div>

</div>


    <div>
        <div class = "row w-75 pr-4 text-left pb-2 ml-10 mb-5">
          <div class = "col-3">
            <img
                  class="d-block radius-2 mt-5"
                  src="/static/images/no_profilepic.png"
                  alt="Team Pic"
                  height="268"
                  width="206"
            />
  
          </div>
      
          <div class = "col-9 pt-4">
            <div class = "panel2-sub mb-3">
                Someone's Name
            </div>

            <p class = "lh-2">
                Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                nostrud exercitation ullamco laboris nisi. Elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                veniam, quis nostrud exercitation ullamco laboris nisi.
            </p>
          </div> 
        </div>
    </div>
    

    <div class = "gray-banner">
     
      <div>
          <div class = "row w-75 pr-4 text-left pb-2 ml-10 mb-5">
                 
            <div class = "col-9 pt-4">
              <div class = "panel2-sub mb-3">
                  Someone's Name
              </div>
  
              <p class = "lh-2">
                  Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                  nostrud exercitation ullamco laboris nisi. Elit, sed do eiusmod 
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                  veniam, quis nostrud exercitation ullamco laboris nisi.
              </p>
            </div> 
  
  
            <div class = "col-3">
              <img
                    class="d-block radius-2 mt-5"
                    src="/static/images/no_profilepic.png"
                    alt="Team Pic"
                    height="268"
                    width="206"
              />
    
            </div>
  
            
          </div>
      </div>
  
  </div>

{% endblock %}
